.container {
    width: 100%;
    height: 90px;
    background-color: #fff;
}

.container header h1 {
    background-color: #4aaaa5;
    float: left;
    width: 250px;
    height: 90px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 700px;
    line-height: 90px;
    color: #fff;
    text-align: center;
    margin-left: 20%;
}

.container .menyu {
    position: relative;
    float: left;
    margin: 20px;
    margin-left: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 500px;
    line-height: 50px;
    left: 569px;
}
.container #line::after{
    content: "|";
    color: #666;
    font-size:18px ;
    margin-left: 15px;
    }

.container section {
    float: left;
    width: 35%;
    padding: 30px;
    margin-left: 380px;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
}

.container aside {
    float: left;
    width: 15%;
    padding: 30px;
    margin-left: 20px;
    margin-top: 50px;
}

.container section,
aside {
    background: #fff;
    border: 1px solid #ddd;
}

section h2 {
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #ddd;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 700;
    color: #4aaaa5;
}

aside h2 {
    font-size: 20px;
    border-bottom: 3px solid #ddd;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 700;
    color: #4aaaa5;
    padding-bottom: 20px;
    line-height: 30px;
    border-bottom: 3px solid #ddd
}

.container section img {

    float: left;
    width: 250px;
    margin: 15px;
    margin-left: 30px;
    margin-top: 40px;
}

.container #Hangman,
#RPG_Game,
#Trivia_Game,
#Rutgers_Info_Widget,
#Rock_Paper_Scissors {
    background-color: #4aaaa5;
    padding: 12px 10px;
    box-sizing: border-box;
    position: absolute;
    bottom: 538px;
    width: 34.5%;
    font-size: 22px;
    text-align: center;
    left: 60px;
}

#RPG_Game {
    left: 355px;
}

#Trivia_Game {
    left: 60px;
    bottom: 295px;
}

#Rutgers_Info_Widget {
    left: 355px;
    bottom: 295px;
}

#Rock_Paper_Scissors {
    left: 60px;
    bottom: 50px;
}



.container aside img {
    float: left;
    width: 60px;
    margin: 5px;
    margin-top: 20px;

}

.container footer {
    clear: both;
    text-align: center;
    color: #ccc;
    background-color: #666;
    font-size: 18px;
    padding: 30px 0;
    margin: 10px 0;
    border-top: 8px solid #4aaaa5;
}